{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="{% url 'signup'%}">signup</a>
  <br>
  <a href="{% url 'home'%}">ホーム</a>
  <br>
  <a href="{% url 'bookmark'%}">ブックマーク</a>
  <br>
  <a href="{% url 'mypost'%}">自分の投稿</a>

  {% block content %}
  {% endblock content %}
</body>
</html>