{% extends 'base.html' %}
{% load static %}

...

{% block content %}
<div class="container mt-3">
  {% for item in object_list %}
  <div class="alert alert-success" role="alert">
    #詳細ページへのリンク設定
    <p>タイトル：<a href="{% url 'detail' item.pk %}">{{item.title}}</a></p>
    <p>投稿：{{item.content}}</a></p>
    <p>投稿者：{{item.user.username}}</p>
    #追加
    {% if request.user in item.like.all %}
    <a href="{% url 'like-home' item.pk %}" class="like-btn add-color" tabindex="-1" role="button" aria-disabled="true"><i
        class="fas fa-heart"></i></a>{{item.like.count}}
    {% else %}
    <a href="{% url 'like-home' item.pk %}" class="like-btn" tabindex="-1" role="button" aria-disabled="true"><i
        class="far fa-heart"></i></a>{{item.like.count}}
    {% endif %}

      #追加
      {% if item.user in connection.0.following.all %}
      <a href="{% url 'follow-home' item.id %}" class="btn btn-danger ms-3" tabindex="-1" role="button"
        aria-disabled="true">フォロー解除</a>
      {% else %}
      <a href="{% url 'follow-home' item.id %}" class="btn btn-primary ms-3" tabindex="-1" role="button"
        aria-disabled="true">フォロー</a>
      {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock content %}